@{
	ViewData["Title"] = "Lienhe";
	Layout = "~/Views/Customer/_Layout.cshtml";
}

<h2 class="mt-2">Liên hệ </h2>
<div class="mt-4">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.279867905529!2d106.63017451501574!3d10.781187062792654!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f0f0f0f0f0f%3A0xf0f0f0f0f0f0f0f!2zSG9uZyBDaGFuIFRoaSBSZXN0YXVyYW50!5e0!3m2!1svi!2s!4v1617806342995!5m2!1svi!2s"
			width="1100px" height="300px" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
<div class="row mt-4">
	<div class="col-6">
		<h4>THÔNG TIN LIÊN HỆ</h4>
		<hr></hr>
		<P>20 ĐƯỜNG MỸ ĐÌNH - HÀ NỘI</P>
		<P>HOTLINE: <strong>0989851319</strong> </P>
		<P>Email: Taymo2024@gmail.com</P>
		<p>Facebook: </p>
	</div>
	<div class="col-6">
		<h4>GỬI TIN NHẮN</h4>
		<hr></hr>
		<input  type="text" class="form-control" placeholder="Your Name"></input>
		<input type="text" class="form-control mt-3" placeholder="Your Email"></input>
		<input type="text" class="form-control mt-3" placeholder="Your Phone"></input>
		<textarea class="form-control mt-3" type="text" placeholder="Your Message" aria-label="With textarea"></textarea>
		<button class="btn btn-outline-primary mt-3">Submit</button>
	</div>
</div>
<div class="text-center mt-5">
	<h3>Thương hiệu nổi tiếng</h3>
	<p>Chúng tôi luôn đem đến khách hàng trải nghiệm những thương hiệu hàng đẩu thế giới</p>
</div>