html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/*css Tiêu đề*/
.nav-item {
    font-size: 20px;
    font-weight:400;
}

.navbar-nav .nav-item:hover {
        color: orangered;
        box-shadow: 0 4px 8px rgba(0, 123, 255, 0.3);
        text-decoration: none;
}

.navbar-nav .nav-item {
    margin-right: 50px;
}

.text-white a {
    color: white;
    text-decoration: none;
}

.text-white a:hover {
        color: chocolate;
}
.footer-logo {
    padding-left: 15px;
    font-size: 19px;
    font-weight: bold;
}

.payment-icons img {
    max-width: 50px;
    margin: 0 5px;
}
